.banner {
  width: 100%;
  font-size: 70px;
  font-weight: 500;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .banner {
    font-size: 42px;
  }
}
