.market {
  background: #fafafa;
}
.wrapTopbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  // width: 1220px;
  margin: 0 auto;
  background: #fafafa;
}

.wrapMobileSelector {
  display: none;
}
.content {
  display: flex;
  flex-direction: row;
  width: 1250px;
  margin: 0 auto;

  .scrollWrapList {
    margin-left: auto;
    background: #fff;
  }

  .wrapCardList {
    padding-left: 30px;
  }

  .wrapSortType {
    padding-left: 14px;
    padding-top: 18px;
    background: #fafafa;
  }
}

@media (max-width: 768px) {
  .wrapMobileSelector {
    display: flex;
    padding: 18px 20px;
    flex-direction: row;
    justify-content: space-between;
  }

  .wrapTopbar {
    display: block;
    width: 100vw;
  }

  .content {
    max-width: 100%;
    .stickyContainer {
      display: none;
    }
    .scrollWrapList {
      margin-left: 0;
    }
    .wrapCardList {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
