.tokenItem {
  display: inline-block;
  width: 219px;
  height: 289px;
  background: #ffffff;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  margin-right: 30px;
  margin-bottom: 35px;

  .image {
    width: 219px;
    height: 219px;
    border-radius: 8px 8px 0px 0px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
  }

  .showBtn {
    display: inline-block;
    width: 92px;
    height: 32px;
    line-height: 32px;
    background: rgba(147, 138, 255, 0.2);
    border-radius: 21px 0px 0px 21px;
    font-size: 15px;
    font-weight: 400;
    color: #746aea;
    text-align: center;
    cursor: pointer;
  }
  .sellBtn {
    display: inline-block;
    width: 92px;
    height: 32px;
    line-height: 32px;
    background: linear-gradient(270deg, #fe9cd7 0%, #fc63ae 100%);
    border-radius: 0 21px 21px 0;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
  }
}
