.categoryMarket {
  height: 70px;
  background: #fbfbfb;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.categoryItem {
  a {
    padding: 24px;
    color: #333333;
  }
  .active,
  a:hover {
    color: #fed835;
  }
}
