.drawerNav {
  :global {
    .ant-drawer-content-wrapper {
      margin-top: 65px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .navItem {
    // margin-bottom: 36px;

    a {
      font-size: 16px;
      font-weight: 500;
      line-height: 40px;
      color: #333333;
      display: inline-block;
      width: 100%;
    }
    a.active {
      color: #fed835;
    }
  }
}
