.header {
  width: 100%;
  background: #000000;
  color: #ffffff;

  .content {
    max-width: 1255px;
    height: 66px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    width: 111px;
    height: auto;
  }
  .inputSearch {
    width: 285px;
    margin-left: 11px;
  }
  .wallet {
    margin-left: auto;
  }
}
