/* marketCard */
.empty {
  margin-top: 248px;
  width: 1060px;
}

.marketCard {
  width: 313px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  display: inline-block;
  // margin-right: 20px;
  margin-bottom: 68px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 12px;
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  cursor: pointer;

  .content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .imgBox {
    position: relative;
    width: 313px;
    height: 313px;
    text-align: center;
  }
  .imageBoxOnSale::after {
    content: url(~@/assets/images/on-sale.svg);
    position: absolute;
    top: 0;
    left: 0;
  }
  .imageBoxOnSaleCN::after {
    content: url(~@/assets/images/on-sale-zh-CN.svg);
    position: absolute;
    top: 0;
    left: 0;
  }
  .image {
    max-height: 100%;
    max-width: 100%;
    border-radius: 6px 6px 0px 0px;
  }
  .video {
    height: 100%;
    width: 100%;
    border-radius: 6px 6px 0px 0px;
  }
  .audio {
    width: 100%;
    height: 100%;
    background: url(https://d1iep3ievzy2jq.cloudfront.net/static/audio_bg.07a8d7d6.jpg);
    background-size: cover;
    border-radius: 6px 6px 0px 0px;
  }

  .name {
    font-size: 16px;
    font-weight: 500;
    color: #f57f18;
    line-height: 22px;
    margin: 13px 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .buyWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .owner {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color: #9f9e9d;
    letter-spacing: 1px;
    background: url(~@/assets/images/icon-inft.png) no-repeat left center;
    background-size: contain;
    padding-left: 28px;
  }

  .buyBtn {
    width: 140px;
    height: 36px;
    background: linear-gradient(270deg, #fcb43f 0%, #fed835 100%);
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-left: auto;
  }
}

.wrapSpin {
  position: relative;
  width: 1060px;
  margin: 0 auto;
  text-align: center;
  margin-top: 48px;
}

/* cardList */
.cardList {
  width: 1060px;
  margin: 0 auto;
  // padding: 0 30px;

  .total {
    font-size: 15px;
    font-weight: 400;
    color: #9a9898;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
}
.wrapList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &::after {
    content: '';
    flex: auto;
  }
}

// levelCheckbox
.levelCheckbox {
  padding-top: 32px;
  padding-bottom: 49px;
  text-align: center;
  background: #fbfbfb;

  // :global {
  //   .ant-checkbox-checked .ant-checkbox-inner {
  //     background-color: #fed835;
  //     border-color: #fed835;
  //   }
  //   .ant-checkbox-wrapper {
  //     color: #ccc9cb;
  //   }
  //   .ant-checkbox-wrapper-checked {
  //     color: #fed835;
  //   }
  //   .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  //   .ant-checkbox:hover .ant-checkbox-inner,
  //   .ant-checkbox-input:focus + .ant-checkbox-inner {
  //     border-color: #fed835;
  //   }
  //   .ant-checkbox-wrapper:hover {
  //     color: #fed835;
  //   }
  //   .ant-checkbox-checked::after {
  //     border-color: #fed835;
  //   }
  //   .ant-checkbox-group-item {
  //     margin-right: 54px;
  //   }
  // }

  .title {
    position: relative;
    font-size: 32px;
    font-weight: 500;
    color: #000000;
    letter-spacing: 1px;
    // margin-bottom: 55px;
    &::after {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%);
      width: 113px;
      height: 7px;
      background: #fed835;
      border-radius: 4px;
    }
  }
}

@media (max-width: 768px) {
  .empty {
    width: 100%;
    min-width: 100%;
    margin-top: 148px;
  }

  .marketCard {
    width: 157px;
    margin-bottom: 18px;
    margin-left: 0;
    margin-right: 0;

    .imgBox {
      width: 157px;
      height: 157px;
      border-radius: 12px 12px 0 0;
    }

    .content {
      width: 100%;
      .name {
        color: #333;
      }
      .buyWrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .buyBtn {
          background: transparent;
          color: #fed835;
          font-size: 14px;
          font-weight: 500;
          text-align: left;
          padding: 0;
        }
      }
    }
  }

  .cardList {
    width: 100%;
    padding: 0;
    .total {
      padding-left: 12px;
    }
  }
  .wrapList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    &::after {
      content: none;
    }
  }
}
