.marketCard {
  display: flex;
  flex-direction: column;
  display: inline-block;
  margin-right: 52px;
  margin-bottom: 68px;
  padding: 0 10px;
}

.image {
  width: 280px;
}

.name {
  font-size: 16px;
  font-weight: 500;
  color: #f57f18;
  line-height: 22px;
  margin: 13px 0;
}

.buyWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.owner {
  font-size: 12px;
  font-weight: 400;
  color: #9f9e9d;
  letter-spacing: 1px;
}

.buyBtn {
  width: 100px;
  height: 26px;
  background: #fed835;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-left: auto;
}
