.footer {
  background: #000;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 60px;
  width: 1280px;
  color: #b2b2b2;
  font-size: 14px;
  font-weight: 400;

  a {
    color: #b2b2b2;
  }
}
.copyright {
  margin-right: 22px;
}
.business {
  margin-right: 40px;
}
.communtieItem {
  margin-right: 18px;
  cursor: pointer;
}

.wrapQrcode {
  width: 90px;
  :global {
    .ant-popover-inner-content {
      padding: 0;
    }
  }
  img {
    width: 100%;
    border-radius: 4px;
  }
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    height: 135px;
    padding: 22px 75px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .copyright {
      margin-bottom: 8px;
    }
    .business {
      margin-bottom: 16px;
      margin-right: 0;
    }
    .communtie {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .communtieItem {
      margin-right: 0;
    }
  }
}
