.loading {
  position: absolute;
  left: 50%;
  top: 248px;
  transform: translateX(-50%);
}

.content {
  display: flex;
  flex-direction: row;
  width: 1280px;
  margin: 0 auto;
}
.wrapFilterCollection {
  width: 220px;
  margin-right: 33px;
}
.wrapCardList {
  position: relative;
  width: 100%;
}
